body{
  margin:0;
  font-family: serif;
  background:#000;
}

/* 寿司を全面背景にする */
.hero{
  height:100vh;
  background-image:url("bg.png.PNG");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;

  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
}

/* 上に文字だけ浮かせる */
.overlay{
  color:#7a1d1d;
}

/* タイトル */
.overlay h1{
  margin:0;
  font-size:38px;
  letter-spacing:10px;
  font-weight:400;
}

.overlay p{
  margin-top:12px;
  font-size:14px;
  letter-spacing:6px;
}

/* ボタン */
.enter{
  display:inline-block;
  margin-top:40px;
  padding:20px 60px;
  border-radius:40px;
  text-decoration:none;
  color:white;
  letter-spacing:8px;
  font-size:14px;

  background:linear-gradient(#a11d1d,#6e0f0f);
  box-shadow:0 20px 50px rgba(0,0,0,.35);
}