body{
  margin:0;
  background:#000;
}

/* 画面全体 */
.market{
  height:100svh;
  display:flex;
}

/* 画像リンク */
.screen{
  display:block;
  width:100%;
  height:100%;
}

.screen img{
  width:100%;
  height:100%;
  object-fit:cover;
  display:block;
}